{% extends "base.html" %}


{% block content %}
<h1>Shopping Cart</h1>
{% if cart.products.exists %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book Title</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for product in cart.products.all %}
        <tr>
            <th scope="row"> {{ forloop.counter }}</th>
            <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a> 
                {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
            
            </td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
      
      <tr>
          <td colspan="2"></td>
          <td><b>Sub Total: </b>{{ cart.subtotal }}</td>
      </tr>
      
      <tr>
        <td colspan="2"></td>
        <td><b>Total: </b>{{ cart.total }}</td>
      </tr>

    </tbody>
  </table>
{% else %}
<p class='lead'>Looks like you cart is empty. Be sure to use code "FREEDOM" for 20% off book purchases through July!</p>
{% endif %}
{% endblock %}