{% extends "base.html" %}

{% block content %}

<div class='container'>
	<div class='row'>
		<div class='col-12 col-md-6'>
			<h1><b>{{ object.title }}</b> <br/></h1>
			{% if object.image %}
			<img src='{{ object.image.url }}' class='img-fluid' width="460" height="750"/> <br/>
			{% endif %}
		</div>
	<div class='col'>
	<br/><br/>{{ object.description|linebreaks }} <br/>
	<div class='col-12 col-md-6'>
			{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
			<!-- {% if object in cart.products.all %}
			In Cart <button class='btn btn-link'>Remove?</button>
			{% else %}
			<button class='btn btn-success'>Add To Cart</button>
			{% endif %} -->
	</div>
</div>
</div>
</div>	
{% endblock %}